[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-script = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
mysqlclient = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python manage.py runserver"
lint = "flake8 ."
fix = "autopep8 -ivr ."
db_migrate = "python manage.py db migrate"
db_upgrade = "python manage.py db upgrade"
db_downgrade = "python manage.py db downgrade"
